<h1>tWeeks</h1>
<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Title of your new Task" aria-label="title of new task" aria-describedby="basic-addon2" #taskTitle>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="addTask(taskTitle.value); clearTaskInput()" type="button">Add Task</button>
      </div>
    </div>
  </div>      
        <div class="row">
          <div class="col-sm">
            List of Tasks:
            <ul>
                <li *ngFor="let task of tasks | async">
                  <input type="checkbox" class="form-check-input">{{ task.title }}
                    <a (click)="deleteTask(task)"><fa-icon class="fa-times" [icon]="faTimes"></fa-icon></a>
                </li>
                
            </ul>
        </div>
      </div>
</div>
