<div class="sidebar-wrapper">
  <!-- <ul class="list-group ">
    <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/current-week']" [routerLinkActive]="['active']">
      Current Week
    </a>
    <a href="#" class="list-group-item list-group-item-action" routerLink="/next-week" [routerLinkActive]="['active']">
      Next Week
    </a>
    <a href="#" class="list-group-item list-group-item-action" routerLink="/goals" [routerLinkActive]="['active']">
      Managing Goals
    </a>
    <a href="#" class="list-group-item list-group-item-action" routerLink="/overview" [routerLinkActive]="['active']">
      12 Week Overview
    </a>
  </ul> -->
  <mat-nav-list>
    <mat-list-item>
       <a matLine href="#" [routerLink]="['/current-week']" [routerLinkActive]="['active']">Current Week</a>
        <mat-icon aria-hidden="false" aria-label="Example calender icon">preview</mat-icon>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="#" [routerLink]="['/next-week']" [routerLinkActive]="['active']">Next Week</a>
       <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
   </mat-list-item>
   <mat-list-item>
    <a matLine href="#" [routerLink]="['/goals']" [routerLinkActive]="['active']">Goals</a>
     <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon>
 </mat-list-item>
 <mat-list-item>
  <a matLine href="#" [routerLink]="['/overview']" [routerLinkActive]="['active']">Overview</a>
   <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon>
</mat-list-item>
  </mat-nav-list>
</div>